# Java
*.class
*.jar
*.war
*.ear

# Maven
/logs/
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env


